* {
  font-family: 'Arial';
}

body {
  margin: 0;
  padding: 0;
}

/*NAVIGATION*/
header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content:space-between;
  width: 990px;
  /*background-color: #F00;*/
}

.logo {
  display: flex;
  align-items: center;
  /*background-color: #0f0;*/
}

.menu {
  display: flex;
  align-items: center;
  /*background-color: #0f0;*/
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}

nav .active a {
  background-color: #39AAE1;
  color: #FFF;
}

nav a:hover {
  background-color: #36A9E1;
  color: #FFF;
}

/*BANNER*/
#banner {
  background-image: url('../images/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 670px;
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.banner-headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-headline h1 {
  color: #FFF;
  font-size:70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.banner-headline h2 {
  color: #FFF;
  font-size: 21px;
  text-shadow: 0px 1px 0px #555555;
  max-width: 350px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 100px;
}

.banner-option {
  display: flex;
  height:210px;
  margin-top: 10px;
}

.banner-1,
.banner-2,
.banner-3 {
  flex: 1;
  color: #FFF;
  padding:20px;
}

.banner-1{
   background-color:#39AAE1;
}

.banner-2 {
  background-color:#0079C7;
}
  
.banner-3 {
  background-color:#2B4C99;
}

.banner-title {
  font-size: 21px;
}

.banner-description {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-option a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  padding: 10px;
  border: 1px solid #FFF;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hours {
  border-bottom: 1px solid #0079C7;
}

.item-hours {
  display: flex;
  justify-content: space-between;
}

/*PRINCIPAL*/

#geral {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget-title-text {
  color: #000;
  font-size: 21px;
  font-weight: bold;
}

.widget-title-bar {
  width: 50px;
  height: 2px;
  background-color: #36A9E1;
  margin-top: 10px;
}

article {
  flex:1;
  min-width: 300px;
  margin-right: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

article a {
  text-decoration: none;
  color:#5c5c5c;
}

article .news-data{
  display: flex;
}

article .news-posted-at {
  display: inline-block;
  background-color: #2B4C99;
  color: #FFF;
  padding: 10px;
  margin-right: 2px;
  font-size: 12px;
}

.news-data::after {
  content: '';
  position: absolute;
  display: block;
  margin-top: 15px;
  border: 14px solid #2b4c99;
  border-color: transparent transparent transparent #2b4c99;
  margin-right: 20px;
}

article .news-coments {
  background-color: #36A9E1;
  color: #FFF;
  padding: 10px;
  font-size: 12px;
}

article .news-thumbnail {
  margin-top: 30px;
}

article .news-thumbnail img {
  width: 100%;
  height: auto;
}

article .news-title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000;
  font-size: 23px;
}

article .news-description {
  font-size: 14px;
  color:#5c5c5c;
  line-height:20px;
  margin-bottom: 30px;
}

.widget-body-text {
  border-bottom: 1px solid #555555;
  padding-bottom: 20px;
}

.widget-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.departments {
  width: 130px;
  height: 130px;
  flex: 1;
  background-color: #36A9E1;
  margin: 10px;
}

.info-content {
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid #5c5c5c;
}

.icon {
  background-color:#ccc;
  margin:10px;
  padding: 10px;
}

ion-icon {
  width: 20px;
  height: 20px;
  color: #36A9E1;
}

.info {
  margin:10px;
  padding: 10px;
}

/*RODAPÉ*/

#rodape {
  display: flex;
  justify-content: center;
  background-color: #1E1E1E;
}

.banner-option-footer {
  display: flex;
  justify-content: center;
}

.banner-1-footer,.banner-2-footer,.banner-3-footer {
  flex: 1;
}

.banner-1-footer a,
.banner-2-footer a,
.banner-3-footer a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

.banner-1-footer {
  background-color:#39AAE1;
}

.banner-2-footer {
  background-color:#0079C7;
}

.banner-3-footer {
  background-color:#2B4C99;
}

.footer-area {
  display: flex;
}

.footer-area-item {
  flex: 1;
   color: #fff;
}

#rodape .widget-title-text {
  color: #FFF;
}
  
.footer-copy {
  border: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color:#5C5C5C;
  margin-top: 30px;
  font-size:12px
}

.banner-title-footer {
     font-size: 21px;
}

.banner-description-footer {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.mm-line {
  height: 3px;
  background-color: #36A9E1;
}

@media(max-width:600px) {

   .banner-headline {
     padding: 20px;
   }

    .banner-headline h1 {
      font-size: 55px;
    }

    .banner-headline h2 {
      font-size: 17px;
      
    }

    .banner-option {
      height: auto;
      flex-direction: column;
    }

    #banner {
      margin-bottom: 20px;
    }

    #geral section {
      padding: 20px;
    }

    #geral aside {
      padding: 20px;
    }

    .banner-option-footer {
      flex-direction: column;
    }

    .container {
      flex-direction: column;
    }

    .footer-area {
      flex-direction: column;
      padding: 20px;
    }

    .footer-copy {
      padding-left: 20px;
    }

    header .container {
      flex-direction: row;
    }

    nav ul {
      flex-direction: column;
      display: none;
      width: 100%;
      position: absolute;
      background-color: #FFF;
      left: 0;
      text-align: center;
    }

    header {
      height: auto;
    }

    .logo {
      padding-left: 20px;
    }

    .menuMobile {
      display:flex;
      flex-direction: column;
      justify-content: space-around;
    }

    #geral {
      margin-top: 300px;
    }

}


